<section class="widget-screen">

  <div class="widget-frame-large">
    <div class="widget-window-large box-shadow">
      <div class="widget-header box-shadow">
        <h4>Edit Profile</h4>
      </div>
          <div class="widget-body">
            <%= form_for [@profile.user, @profile] do |f| %>
              <div class="widget-row">
                <span class="col-4"><%= f.label :first_name %></span>
                <span class="col-8"><%= f.text_field :first_name %></span>
              </div>
              <div class="widget-row">
                <span class="col-4"><%= f.label :last_name %></span>
                <span class="col-8"><%= f.text_field :last_name %></span>
              </div>
              <div class="widget-row center">
                <span><%= f.submit 'Update Profile' %></span>
              </div>
            <% end %>
        </div>
    </div>
  </div>

</section>