<section class="widget-screen">

  <div class="widget-frame">
    <div class="widget-window box-shadow">
      <div class="widget-header box-shadow">
        <h4>Login</h4>
      </div>
      <div class="widget-body">
        <%= form_tag '/login' do %>
          <div class="widget-row">
            <span class="col-4"><%= label_tag :username, 'Username' %></span>
            <span class="col-8"><%= text_field_tag :username %></span>
          </div>
          <div class="widget-row">
            <span class="col-4"><%= label_tag :password, 'Password' %></span>
            <span class="col-8"><%= text_field_tag :password %></span>
          </div>
          <div class="widget-row center">
            <span><%= submit_tag "Login" %></span>
          </div>
        <% end %>
        <div class="widget-row center">
          <span class='btn btn-large'><%= link_to "Create Account", new_user_path %></span>
        </div>
      </div>
    </div>
  </div>

</section>