<section class="widget-screen">

  <div class="widget-frame-large">
    <div class="widget-window-large box-shadow">
      <div class="widget-header box-shadow">
        <h4>Create Reward</h4>
      </div>
          <div class="widget-body">
            <%= form_for [:admin, @reward] do |f| %>
              <div class="widget-row">
                <span class="col-4"><%= f.label :name %></span>
                <span class="col-8"><%= f.text_field :name %></span>
              </div>
              <div class="widget-row">
                <span class="col-4"><%= f.label :desc, 'Description' %></span>
                <span class="col-8"><%= f.text_field :desc %></span>
              </div>
              <div class="widget-row">
                <span class="col-4"><%= f.label :cost %></span>
                <span class="col-8"><%= f.text_field :cost %></span>
              </div>
              <div class="widget-row center">
                <span><%= f.submit 'Create Reward' %></span>
              </div>
            <% end %>
        </div>
    </div>
  </div>

</section>