<section class="widget-screen">

  <div class="widget-frame-large">
    <div class="widget-window-large box-shadow">
      <div class="widget-header box-shadow">
        <h4>Users (<%= @users.count %>)</h4>
      </div>
      <div class="widget-row-header box-shadow">
        <span class="col-6">Username</span>
        <span class="col-4">Coins</span>
        <span class="col-2">Awards</span>
      </div>
      <div class="widget-body">
        <% @users.each do |user| %>
          <div class="widget-row">
            <span class="col-6"><%= link_to user.username, admin_user_path(user) %></span>
            <span class="col-4"><%= user.money_in_box.sum(&:value) %></span>
            <span class="col-2"><%= user.rewards.count %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="widget-frame-large">
    <div class="widget-window-large box-shadow">
      <div class="widget-header box-shadow">
        <h4>All Rewards (<%= @rewards.count %>)</h4>
      </div>
      <div class="widget-row-header box-shadow">
        <span class="col-10">Name</span>
        <span class="col-2">Cost</span>
      </div>
      <div class="widget-body">
        <% @rewards.each do |reward| %>
          <div class="widget-row">
            <span class="col-10"><%= link_to reward.name[0..35], user_reward_path(@user, reward) %></span>
            <span class="col-2"><%= reward.cost %></span>
          </div>
        <% end %>
      </div>
      <div class="widget-row-header box-shadow">
        <span class='col-12'><%= link_to 'Add Reward', new_admin_reward_path %></span>
      </div>
    </div>
  </div>

</section>