<section class="widget-screen">

  <div class="widget-frame">
    <div class="widget-window box-shadow">
      <div class="widget-header box-shadow">
        <h4>Create Account</h4>
      </div>
          <div class="widget-body">
            <%= form_for @user do |f| %>
              <div class="widget-row">
                <span class="col-4"><%= f.label :username %></span>
                <span class="col-8"><%= f.text_field :username %></span>
              </div>
              <div class="widget-row">
                <span class="col-4"><%= f.label :password %></span>
                <span class="col-8"><%= f.text_field :password %></span>
              </div>
              <div class="widget-row center">
                <span><%= f.submit 'Create Account' %></span>
              </div>
            <% end %>
        </div>
    </div>
  </div>

</section>