<section class="widget-screen">

  <div class="widget-frame-large">
    <div class="widget-window-large box-shadow">
      <div class="widget-header box-shadow">
        <h4>Coins</h4>
      </div>
      <div class="widget-row-header box-shadow">
        <span class="col-4">Coin</span>
        <span class="col-4">#</span>
        <span class="col-4">Value</span>
      </div>
      <div class="widget-body">
        <% @user.show_coins.each_with_index do |denom, i| %>
          <div class="widget-row">
            <span class="col-4"> <%= Coin.names[i] %> </span>
            <span class="col-4"><%= denom.count %></span>
            <span class="col-4"><%= denom.sum(&:value) %></span>
          </div>
        <% end %>
        <div class="widget-row">
          <span class="col-4">Total</span>
          <span class="col-4"><%= @user.money_in_box.count %></span>
          <span class="col-4"><%= @user.money_in_box.sum(&:value) %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="widget-frame-large">
    <div class="widget-window-large box-shadow">
      <div class="widget-header box-shadow">
        <h4>Ready Rewards (<%= @user.all_affordable_rewards.count %>)</h4>
      </div>
      <div class="widget-row-header box-shadow">
        <span class="col-10">Name</span>
        <span class="col-2">Cost</span>
      </div>
      <div class="widget-body">
        <% @user.all_affordable_rewards.each do |reward| %>
          <div class="widget-row">
            <span class="col-10"><%= link_to reward.name[0..35], user_reward_path(@user, reward) %></span>
            <span class="col-2"><%= reward.cost %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="widget-frame-large">
    <div class="widget-window-large box-shadow">
      <div class="widget-header box-shadow">
        <h4>Claimed Rewards (<%= @user.rewards.count %>) </h4>
      </div>
      <div class="widget-row-header box-shadow">
        <span class="col-10">Name</span>
        <span class="col-2">Cost</span>
      </div>
      <div class="widget-body">
        <% @user.rewards.each do |reward| %>
          <div class="widget-row">
            <span class="col-10"><%= link_to reward.name[0..35], user_reward_path(@user, reward) %></span>
            <span class="col-2"><%= reward.cost %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="widget-frame-large">
    <div class="widget-window-large box-shadow">
      <div class="widget-header box-shadow">
        <h4>All Rewards (<%= @rewards.count %>)</h4>
      </div>
      <div class="widget-row-header box-shadow">
        <span class="col-10">Name</span>
        <span class="col-2">Cost</span>
      </div>
      <div class="widget-body">
        <% @rewards.each do |reward| %>
          <div class="widget-row">
            <span class="col-10"><%= link_to reward.name[0..35], user_reward_path(@user, reward) %></span>
            <span class="col-2"><%= reward.cost %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</section>